*.pyc
**/*pyc
*.ipynb
*.pickle
*.pdf
*.jpg
*.png
*.JPG
*.npy
*.npz
*.zip
*.h5
*.tgz
*.pth
*.json
*.log
*.txt
**/__pycache__/
**/*.egg-info/
.pytest_cache/
**/.ipynb_checkpoints/
.coverage
*.egg
dist/
build/
.env
.env.*
.envrc
